@import "tailwindcss";

:root {
  --background: #6b6fa8;
  --foreground: #ededed;
  --font-lexend: "Lexend", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #6b6fa8; /* solo para cubrir el overscroll */
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  min-height: 100vh;
  background: transparent; /* deja visible tu componente Background */
  color: white;
  font-family: var(--font-lexend);
}

/* Glass card */
.glass-card {
  @apply rounded-3xl
         border border-white/10
         bg-white/5
         backdrop-blur-xl
         shadow-[0_10px_40px_rgba(0,0,0,0.15)];
}

/* Fefierys scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.04);
}

::-webkit-scrollbar-thumb {
  background: rgba(170, 185, 255, 0.35);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 210, 255, 0.55);
  background-clip: content-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(170, 185, 255, 0.35) rgba(255, 255, 255, 0.04);
}